@media only screen and (min-width: 480px) {
    /* styles for devices with a minimum screen width of 480px */

    .main-aboutMe
    {
        color: #8892b0;
        display:inline-block;
        margin-left: 9vw
    }
    .headingAndLine
    {
        margin-bottom: 20px;
        display: flex;
        opacity: 0;
        transform: translatex(200px);
        transition: opacity 1.5s ease,transform 1.5s ease;
    }
    .headingAndLine.show {
        opacity: 1;
        transform: translateX(0);
      }
    .main-aboutMe .horizontalLine
    {
        width: 280px;
        border-bottom: 1px solid #8892b0;
        margin-bottom: 18px;
        margin-left: 20px;
    }
    .main-aboutMe span
    {
        font-size: 23px;
    }
    .main-aboutMe #aboutMeHead
    {
        font-weight: 700;
        color: aliceblue;
    }
    .aboutMeText
    {
        width: 500px;
        font-size: 18px;
        margin-right: 60px;
        display: flex;
        flex-direction: column;
    }
    #allTech-head
    {
        margin-top: 20px;
        font-size: 18px;
        margin-right: 60px;
    }
    .allTech
    {
        color: #64ffda;
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 30px;
        opacity: 0;
        transform: translatex(200px);
        transition: opacity 1.5s ease,transform 2s ease;
    }
    .allTech.show {
        opacity: 1;
        transform: translateX(0);
      }

    .allTech span
    {
        font-size: 16px;
    }
    .aboutMeTextArea
    {
        display: flex;
        padding-top: 40px;
    }

    .animated-img {
        width: 260px;
        height: 300px;
        margin-left: 550px;
        border-radius: 5px;
        z-index: 1;
        position: absolute;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.571);
        opacity: 0;
        transform: translatex(100px);
        transition: opacity 0.5s ease,transform 1.5s ease;
      }
  
      .animated-img.show {
        opacity: 1;
        transform: translateX(0);
      }

    .img-frame
    {
        border:2px solid #64ffda;
        height: 300px;
        width: 280px;
        border-radius: 5px;
        margin-top: 20px;
    }
    .main-aboutMe #spanGreen
    {
        font-size: 22px;
    }
}

@media only screen and (max-width: 480px) {
    /* styles for devices with a minimum screen width of 480px */
    .main-aboutMe
    {
        color: #8892b0;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }
    .headingAndLine
    {
        display: flex;
        opacity: 0;
        transform: translatex(100px);
        transition: opacity 1.5s ease,transform 1.5s ease;
    }
    .headingAndLine.show {
        opacity: 1;
        transform: translateX(0);
      }
    .main-aboutMe .horizontalLine
    {
        width: 150px;
        border-bottom: 1px solid #8892b0;
        margin-bottom: 10px;
        margin-left: 20px;
    }
    .main-aboutMe span
    {
        font-size: 15px;
    }
    .main-aboutMe #spanGreen
    {
        color: #64ffda;
        font-family: 'Roboto Mono', monospace;
    }
    .main-aboutMe #aboutMeHead
    {
        font-weight: 700;
        color: aliceblue;
    }
    .aboutMeText
    {
        display: flex;
        flex-direction: column;
    }
    .aboutMeTextArea
    {
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        width: 90%;
    }
    .animated-img {
        margin-top: 553px;
        width: 250px;
        margin-left: 7vw;
        border-radius: 5px;
        z-index: 1;
        position: absolute;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.571);
        opacity: 0;
        transform: translateX(-100px);
        transition: opacity 0.5s ease, transform 1.5s ease;
      }
  
      .animated-img.show {
        opacity: 1;
        transform: translateX(0);
      }
    .img-frame
    {
        border:2px solid #64ffda;
        height: 300px;
        width: 260px;
        border-radius: 5px;
        margin-top: 70px;
    }
    #allTech-head
    {
        margin-top: 20px;
        font-size: 16px;
    }
    .allTech
    {
        color: #64ffda;
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 30px;
        opacity: 0;
        transform: translateX(50px);
        transition: opacity 1.5s ease,transform 2s ease;
    }
    .allTech.show {
        opacity: 1;
        transform: translateX(0);
      }
    .allTech span
    {
        font-size: 16px;
    }

}