@media only screen and (min-width: 480px) {
    /* styles for devices with a minimum screen width of 480px */

    @keyframes headerAnimation {
        from {
          transform: translateY(-100px); /* Optional: You can add a sliding effect */
        }
        to {
          transform: translateY(0);
        }
      }
      
      header
      {
        animation: headerAnimation 1.5s ease-out; /* Adjust the duration and easing as needed */
      }


    header {
         background: #0a192ff4;
        /* --tw-bg-opacity:1;
        background-color: rgb(15 25 34 / var(--tw-bg-opacity)); */
        backdrop-filter: blur(5px);
        height: 11.5vh;
        display: flex;
        justify-content: center;
        position: fixed;
        z-index: 100;
        width: 100vw;
    }
    .visible {
        /* display: flex; */
        height: 12vh;
        transition: height 0.4s ease-in , box-shadow 0.4s ease-in;
        box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.571);
      }
      
      .hidden {
        /* display: none; */
        height: 0;
        transition: height 0.4s ease-out;
      }
      .hidden-border
      {
        height: 12vh;
        transition: height 0.4s ease-out, box-shadow 0.4s ease-in;
      }
    header ul
    {
        display: flex;
        list-style: none;
        width: 90vw;
        font-size: 14px;
        font-weight: 400;
        align-items: flex-end;
        justify-content: flex-end;
    }
    header ul li 
    {
        display: inline;
        color: #64ffda;
        margin-right: 25px;
        font-family: 'Roboto Mono', monospace;
        line-height: 6vh;
    }
    header ul li span
    {
        color: aliceblue;
        cursor: pointer;
    }

    .resume-btn
{
    background-color: #0a192f;
    border-color:#64ffda;
    color: #64ffda;
    height: 2.5rem;
    width: 5.5rem;
    border-radius: 5px;
    font-weight: 600;
}
.resume-btn:hover
{
 color: #0a192f;
 background-color: #64ffda;
 border: #0a192f;
}
    }


    @media only screen and (max-width: 480px) {

        @keyframes headerAnimation {
            from {
              transform: translateY(-100px); /* Optional: You can add a sliding effect */
            }
            to {
              transform: translateY(0);
            }
          }
          
          header
          {
            animation: headerAnimation 1.5s ease-out; /* Adjust the duration and easing as needed */
          }
        /* styles for devices with a maximum screen width of 480px */

        header {
            background: #0a192ff4;
            backdrop-filter: blur(5px);
            /* height: 9vh; */
            display: flex;
            justify-content: center;
            position: fixed;
            z-index: 100;
            width: 100vw;
            opacity: 0.98;
        }
        .visible {
            /* display: flex; */
            height: 9vh;
            transition: height 0.4s ease-in , box-shadow 0.4s ease-in;
            box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.571);
          }
          
          .hidden {
            /* display: none; */
            height: 0;
            transition: height 0.4s ease-out;
          }
          .hidden-border
          {
            height: 9vh;
            transition: height 0.4s ease-out, box-shadow 0.4s ease-in;
          }
        header ul
        {
            display: flex;
            list-style: none;
            font-family: 'Nunito Sans', sans-serif;
            font-size:9px;
            font-weight: 400;
            align-items: flex-end;
        }
        header ul li 
        {
            display: inline;
            color: #64ffda;
            margin-right: 1rem;
            font-family: 'Roboto Mono', monospace;
        }
        header ul li span
        {
            color: aliceblue;
        }
        header ul li:nth-child(1),header ul li:nth-child(2),header ul li:nth-child(3),header ul li:nth-child(4)
        {
         margin-bottom: 5px;
        }
        .resume-btn
{
    background-color: #0a192f;
    border-color:#64ffda;
    color: #64ffda;
    height: 1.5rem;
    width: 3rem;
    border-radius: 5px;
    font-weight: 600;
}
        }