@media only screen and (min-width: 480px) {
    /* styles for devices with a minimum screen width of 480px */
.main-projects
{
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-top: 34vh;
    overflow-x: hidden;
}
.allProjects
{
    padding-top: 95px;
    color: aliceblue;
    font-size: 20px;
}
#headDesk-span-pScreens
{
    display: none;
}
#aboutMeHead
{
    font-weight: bolder;
    font-size: 25px;

}
.application-clone span
{
    font-weight: 600;
}
#aboutMeHead #spanGreen
{
    font-size: 22px;
}
.description-box
{
    font-size: 16px;
    background-color: #112240;
    width: 430px;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    margin-top: 15px;
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.571);
    border-radius: 5px;
}
    .description-box-second{
        font-size: 16px;
    background-color: #112240;
    width: 430px;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    margin-top: 15px;
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.571);
    border-radius: 5px;
    }
.netflixVideo
{
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  transform: translateX(200px);
  transition: opacity 1.5s ease,transform 1.5s ease;
}
.netflixVideo.show {
  opacity: 1;
  transform: translateX(0);
}
#second-application-clone-id
{
    margin-top: 150px;
}
.amazonVideo
{
    display: flex;
    opacity: 0;
    transform: translateX(-200px);
    transition: opacity 1.5s ease,transform 1.5s ease;
}
.amazonVideo.show {
  opacity: 1;
  transform: translateX(0);
}
.amazonVideo video
{
    border-radius: 10px;
    width: 50vw;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.571);
}
.netflixVideo video
{
    border-radius: 10px;
    width: 50vw;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.571);
}
.headingAndLineProjects
{
    display: flex;
    opacity: 0;
    transform: translatex(200px);
    transition: opacity 1.5s ease,transform 1.5s ease;
}
.headingAndLineProjects.show {
    opacity: 1;
    transform: translateX(0);
  }
.head-desc-top
{
    z-index: 8;
    position: absolute;
    margin-top: 20px;
    opacity: 0;
    transform: translateX(-200px);
    transition: opacity 1s ease,transform 1s ease;
}
.head-desc-top.show {
  opacity: 1;
  transform: translateX(0);
}
.head-desc-bottom
{
    z-index: 8;
    position: absolute;
    /* margin-top: -330px;  */
    margin-top: -56vh;
    /* margin-left: 550px; */
    margin-left: 42vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    opacity: 0;
    transform: translateX(200px);
    transition: opacity 1s ease,transform 1s ease;
}
.head-desc-bottom.show {
  opacity: 1;
  transform: translateX(0);
}
.techUsed span
{
    font-size: 13px;
    font-weight: 100;
    margin-right: 20px;
    font-family: 'Roboto Mono', monospace;
}
.netFlix-redirect
{
    margin-top: 30px;
    background-color: #0a192f;
    border-color:#64ffda;
    color: #64ffda;
    height: 2.5rem;
    width: 10rem;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Roboto Mono', monospace;
}
.netFlix-redirect:hover
{
    transition: all 0.4s ease-in-out;
    font-size: 18px;
    background-color: #64ffda;
    border-color:#64ffda;
    color: #0a192f;
}
.sub-projects-container
{
    margin-top: 150px;
}
.miniPorject-headAndLine
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
.miniPorject-headAndLine .horizontalLine
{
    width: 200px;
    color: #64ffda;
}
.card
{
    background-color: #112240;
    box-shadow: 10px 1px 10px 1px rgba(0, 0, 0, 0.571);
    transition: width 0.4s ease; 
}
#card-id:hover
{
    width: 450px;
}
.card-title
{
    font-weight: 600;
    color: white;
}
.card-text{
    font-size: 16px;
    color: aliceblue;
}
.card-body
{
    width: 350px;
}
.miniPorject-headAndLine > div:first-child {
    /* Your CSS properties for the first div go here */
    margin-right: 20px;
    margin-left: 0;
  }
.card-deck
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    overflow-x: auto;
    position: relative;
    padding-bottom: 20px;
    opacity: 0;
    transform: translateX(200px);
    transition: opacity 1s ease,transform 1s ease;
}
.card-deck.show {
  opacity: 1;
  transform: translateX(0);
}
.card-deck::-webkit-scrollbar {
    height: 5px;
  }
  
  .card-deck::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #0a192f;
    /* border: 1px solid #cacaca; */
  }
  
  .card-deck::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #64ffda;
  }

.card-deck .card
{
    width: 26vw;
}
.techusedText
{
    color: #64ffda;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 7px;
}
.techusedText small {
    margin-right: 10px;
}
}

@media only screen and (max-width: 480px) {

    .main-projects
    {
        display: flex;
        flex-direction: column;
        margin-left: 5vw;
        margin-top: 25vh;
        overflow-x: hidden;
    }
    .headingAndLineProjects
{
    display: flex;
    opacity: 0;
    transform: translatex(50px);
    transition: opacity 1.5s ease,transform 1.5s ease;
}
.headingAndLineProjects.show {
    opacity: 1;
    transform: translateX(0);
  }
    .allProjects
    {
        padding-top: 60px;
        color: aliceblue;
        font-size: 14px;
        overflow-x: hidden;
    }
    .horizontalLine
    {
        width: 130px;
    }
    #aboutMeHead
    {
       font-size: 18px;
    }
    .application-clone span
    {
        font-weight: 600;
    }
    .description-box
    {
        font-size: 15px;
        background-color: #112240;
        width: 100%;
        text-align: center;
        padding: 20px;
        margin-top: 170px;
        box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.571);
        border-radius: 5px;
    }
    .description-box-second{
        font-size: 15px;
        background-color: #112240;
        width: 105%;
        margin-right: 26px;
        text-align: center;
        padding: 20px;
        margin-top: 170px;
        box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.571);
        border-radius: 5px;
    }
    #second-application-clone-id
{
    margin-top: 450px;
}
    .netflixVideo
    {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      opacity: 0;
      transform: translateX(100px);
      transition: opacity 1.5s ease,transform 1.5s ease;
}
.netflixVideo.show {
  opacity: 1;
  transform: translateX(0);
}
    .amazonVideo
{
    display: flex;
    justify-content: center;
      /* margin-top: 20px; */
      opacity: 0;
      transform: translateX(-100px);
      transition: opacity 1.5s ease,transform 1.5s ease;
  }
  .amazonVideo.show {
    opacity: 1;
    transform: translateX(0);
  }
.head-desc-bottom
{
    z-index: 9;
    position: absolute;
    margin-top: -220px; 
    /* margin-right: 25px; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.amazonVideo video
{
    border-radius: 10px;
    width: 100%;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.571);
}
    .netflixVideo video
    {
        margin-top: 50px;
        border-radius: 10px;
        width: 100%;
        box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.571);
    }
    .head-desc-top
    {
        z-index: 8;
        position: absolute;
    }
    .head-desc-bottom
{
    z-index: 8;
    position: absolute;
}
    /* .head-desc #headDesk-span-pcScreens
    {
        display: none;
    } */
    #headDesk-span-pScreens
    {
        font-size: 20px;
    }
    .techUsed span
    {
        font-size: 12px;
        font-weight: 100;
        margin-right: 20px;
        font-family: 'Roboto Mono', monospace;
    }
    #techUsedNetflix {
        overflow-x: hidden;
        opacity: 0;
        transform: translateX(-100px);
        transition: opacity 1s ease,transform 1s ease;
    }
    #techUsedNetflix.show {
      opacity: 1;
      transform: translateX(0);
    }
    #techUsedAmazon {
        overflow-x: hidden;
        opacity: 0;
        transform: translateX(-100px);
        transition: opacity 1s ease,transform 1s ease;
    }
    #techUsedAmazon.show {
      opacity: 1;
      transform: translateX(0);
    }
    #headDesk-span-pcScreens
    {
        margin-right: 25px;
    }
    .netFlix-redirect
    {
        margin-top: 30px;
        background-color: #0a192f;
        border-color:#64ffda;
        color: #64ffda;
        height: 2.5rem;
        width: 8rem;
        border-radius: 5px;
        font-size: 15px;
        font-weight: 600;
        font-family: 'Roboto Mono', monospace;
        margin-right: 25px;
    }
    .netFlix-redirect:hover
    {
        transition: all 0.4s ease-in-out;
        font-size: 18px;
        background-color: #64ffda;
        border-color:#64ffda;
        color: #0a192f;
    }

    .sub-projects-container
{
    margin-top: 350px;
}
.miniPorject-headAndLine
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    margin-bottom: 50px;
}
.subProjectHeading
{
 font-family: 'Poppins', sans-serif;
}

.miniPorject-headAndLine .horizontalLine
{
    display: none;
}
.card
{
    background-color: #112240;
    box-shadow: 10px 1px 10px 1px rgba(0, 0, 0, 0.571);
}
.card-title
{
    font-weight: 600;
    color: white;
}
.card-text{
    font-size: 16px;
    color: aliceblue;
}
.card-deck
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 20px;
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 1s ease,transform 1s ease;
}
.card-deck.show {
  opacity: 1;
  transform: translateX(0);
}
.card-deck::-webkit-scrollbar {
    height: 5px;
  }
  
  .card-deck::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #0a192f;
    /* border: 1px solid #cacaca; */
  }
  
  .card-deck::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #64ffda;
  }
.card-deck .card
{
    width: 70vw;
}
.techusedText
{
    color: #64ffda;
    display: flex;
    flex-direction: row;
}
.techusedText small {
    margin-right: 10px;
}

}