
body{
  overflow-x: hidden;
  /* overflow-y: hidden; */
}
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #0a192f;
  /* border: 1px solid #cacaca; */
}

body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #64ffda;
}

.superContainer
{
   background-color: #0a192f; 
  /* --tw-bg-opacity:1;
  background-color: rgb(15 25 34 / var(--tw-bg-opacity)); */
  
}
.mainContainer
{
  display: flex;
}
